* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.small-container {
  width: 800px;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: rgba(247, 103, 7, 0.9);
  padding: 24px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 2px solid #f9faf8;
}

/* HERO SECTION */
.hero-section {
  background-color: #f76707;
  padding: 144px 0 96px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  flex: 0 1 50%;
}

.hero-heading {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 24px;
}

.hero-description {
  color: #f9faf8;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.cta-btn {
  background-color: #ffa94d;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #e69845;
}

.hero-img-container {
  flex: 0 1 40%;
}

.hero-img {
  width: 100%;
  border-radius: 10px;
}

/* COOKIES SECTION */
.cookies-section {
  background-color: #fff;
  padding: 48px 0 96px;
}

.cookies-section-heading {
  color: #f76707;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.cookies {
  display: flex;
  align-items: center;
  gap: 32px;
}

.cookie-img-container {
  border: 3px solid #ffa94d;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
}

.cookie-img-container > img {
  transition: all 0.3s;
}

.cookie-img-container > img:hover {
  transform: scale(1.1);
}

.cookie-img {
  width: 100%;
}

.cookie-name {
  color: #f76707;
  font-size: 24px;
  margin-bottom: 16px;
}

.cookie-name,
.cookie-description {
  text-align: center;
}

.cookie-description {
  line-height: 1.4;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  background-color: #fff4e6;
  padding: 96px 0;
}

.testimonial-text {
  color: #f76707;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 24px;
}

.testimonial-person-name {
  color: #f76707;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

/* CALL-TO-ACTION SECTION */
.cta-section {
  background-color: #fff;
  padding: 96px 0;
}

.cta-container {
  background-color: #ffa94d;
  color: #f9faf8;
  padding: 48px 64px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cta-section-heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.cta-section-description {
  font-size: 18px;
}

.white-border {
  border: 2px solid #fff;
}

/* FOOTER */
footer {
  background-color: #f76707;
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 24px 0;
}
